.sidebar {
    width: 235px;
    background-color: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    margin-top:25px
}

.sidebar .nav-link {
    color: #adb5bd;
    cursor: pointer;
    height:55px;
    padding-top: 15px;
    padding-bottom: 12px;
    font-size: 16px;
    border-left: 5px solid transparent;
}

.sidebar .nav-link span {
 
    padding-top:1px;
    position: relative;
}

.sidebar .nav-link .icon {
    width: 24px;  /* Adjust size as needed */
    height: 24px; /* Maintain aspect ratio */
    margin-right: 8px;  /* Add spacing between icon and text */
    vertical-align: middle;  /* Align with text baseline */
  }

.sidebar .nav-link.active {
    background-color: #031050;
    color: #fff;
    border-left: 5px solid #FF13B8;
    font-weight: 500;
 
}

/* Responsive Design */
@media (max-width: 992px) {
    .sidebar {
        position: fixed;
        left: -235px;
        height: 100%;
        z-index: 10;
    }

    .sidebar.open {
        left: 0;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 5;
    }

    .overlay.active {
        display: block;
    }
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f8f9fa;
    width: 100%;
}

.sidebar-toggle {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: #343a40;
    padding: 10px;
}

@media (max-width: 992px) {
    .sidebar-toggle {
        display: block;
    }
}
